<!-- <label>Server name</label> -->
<!-- <input type="text" class="form-control" (input) = "onUpdateServerName($event)"> -->
<!-- <input type="text" class="form-control" [(ngModel)]="serverName">
<p>{{serverName}}</p> -->

<!-- <button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
<p [innerText] = "allowNewServer"></p> -->
<!-- <p>{{serverCreationStatus}}</p>  -->

<label>Server Name</label>
<input type="text" class="form-control" (input)="onUpdateServerName($event)"> <!-- $event is a reserved keyword which we can use in the template to showcase event binding. This allows us to capture the data of the event.-->
<!-- In angular, the events can be binded to elements using the () operator as below-->
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()"> Add Server</button> <!-- Square brackets indicate to angular that we are using property binding and that we want to dynamically bind some property to the elements-->
<!-- <p [innerText]="allowNewServer">{{allowNewServer}}</p> This is a classic case of how string interpolation {{}} and property binding can be used in a single tag. -->
<p>{{serverCreationStatus}}</p>
<app-server></app-server>
<app-server></app-server>